html {
    scroll-behavior: smooth;
  }

.main-photo {
    width: 100%;
}

.navbar-nav {
    margin: auto;
}

main h2 {
    margin: 10px auto;
}

.main-photo {
    background-image: url('./images/main-photo.jpeg');
    width: 100%;
    height: 650px;
    background-position: center;
    background-size: cover;
    display: flex;
}

#top-button {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 4em;
    border: none;
    outline: none;
    color: white;
    background: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #top-button:hover {
    color: #fb5b21;
  }

/* Navbar */

.slogan {
    cursor: context-menu
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
    font-weight: 700;
    color: black;
}

.navbar {
    border-bottom: 2.5px solid #fb5b21;
    background: white!important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fb5b21;
}

.about-us-left::after {
    background-color: #fb5b21;
    content: "";
    display: block;
    height: 40px;
    position: absolute;
    right: -16px;
    top: 46%;
    transform: rotate(220deg);
    width: 40px;
}

.logo-div {
    width: 40%;
    margin: auto;
}

.logo {
    width: 100%;
}

/* About Us Section */

.about-us {
    display: flex;
}

.about-us-left {
    width: 40%;
    display: flex;
    background: #fb5b21;
    position: relative;
}

.about-us-left-content {
    margin: auto;
}

.about-us-right {
    width: 60%;
    display: flex;
    position: relative;
}

.about-us-right:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./images/old-school.jpg'); 
    width: 100%;
    height: 100%;
    opacity : 0.3;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.photos {
    padding: 20px;
    width: 100%;
    margin: auto;
}

.about-us-left img {
    width: 32%;
    margin: auto;
}

.about-us-headline {
    text-align: center;
    color: white;
}

.about-us-text,
.location-text {
    font-size: 1.2em;
    padding: 50px;
    text-align: justify;
    font-weight: 500;
    margin: auto;
    text-shadow: 1px 1px rgba(179, 179, 179, 0.479);
}

.location-text {
    padding: 10px;
}

/* Gallery */

.gallery .row {
    margin: 0;
    margin-top: 20px;
}

.gallery .container {
    padding: 5px;
}

.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
  }
  
  #image-gallery .modal-footer{
    display: block;
  }
  
  .thumb{
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .gallery h2,
  .cost h2,
  .working-schedule h2,
  .address h2 {
      text-align: center;
  }

  hr {
      border: 1px solid #fb5b21;
      width: 100px;
  }

  .gallery {
      padding-top: 30px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), transparent), url('./images/images.jpg');
      min-height: 700px;
      padding: 20px 0 50px 0;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .gallery h2 {
      color: white;
  }

  .col-lg-3 {
      padding: 6px;
  }

/* Cost */

.col {
    flex-basis: auto;
    flex-grow: inherit;
    width: 33.33%;
    margin-top: 20px;
}
.collection-item {
    list-style-type: none;
    padding: 20px 0;
    margin: 0 20px;
}
.collection-item:first-child {
    border-bottom: 1px solid rgb(182, 182, 182);
}
.collection {
    padding: 0;
    margin-bottom: 0;
}
.cost .card-title {
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 0;
    color: white;
}
.cost .card-content {
    text-align: center;
    padding: 0px !important;
}
.cost ul li {
    padding: 20px !important;
    font-weight: bold;
}
.cost .card {
    transition: .5s;
    position: relative;
}
.cost .card .old-price {
    text-align: center;
    line-height: 1.5em;
    background: rgb(35, 128, 204);
    border: 0.5px solid rgb(44, 111, 170);
    width: 20%;
    height: 40px;
    position: absolute;
    top: 80px;
    left: 40%;
    text-decoration: line-through;
    font-size: 1.5em;
    border-radius: 5px;
}

.cost .s12:hover {
    transform: scale(1.10);
    transition: .7s;
    transition-delay: 0.2s;
}

.cost .row {
    margin-top: 40px;
}



.cost {
    position: relative;
    min-height: 900px;
    padding: 20px 0 50px 0;
}

.cost:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./images/cost.jpg'); 
    width: 100%;
    height: 100%;
    opacity : 0.7;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.green {
    background: #4CAF50;
}
.yellow {
    background: #f57f17
}
.blue {
    background: #2196F3;
}

/* Working Hours */

.working-days {
    font-size: 1.2em;
    font-weight: 500;
}

.working-schedule .container {
    margin: 30px auto;
    max-width: 700px;
}

.movie-table-head {
    background: #4CAF50;
    color: white;
    font-size: 1.3em;
}

.dark-row {
    background: white
}

.dark-row:hover {
    background: rgb(235, 235, 235);
}

.movie-table {
    margin-bottom: 0;
}

/* div class came from aniView */
.av-container { 
    width: 100%;
}

.slow {
    animation-duration: 3s;
    -vendor-animation-duration: 3s;
    animation-delay: 0.2s;
    -vendor-animation-delay: 1s;
}

.av-delay {
    animation-delay: 0.5s
}

.working-schedule {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), transparent), url('./images/schedule.jpg');
    height: 600px;
    padding: 20px 0 50px 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.working-schedule h2 {
    color: white;
}

.table-responsive {
    margin-top: 50px;
}

/* Address */

.mapouter {
    text-align: right;
    height: 500px;
    width: 100%;
    width: 40%;
}

.location-text {
    width: 60%;
    margin: auto;
}

.location-text-p {
    width: 90%;
    margin: auto;
    text-align: justify;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 95%;
    margin-right: 5%;
    margin-top: 15px;
}

.address-container {
    display: flex;
}

.address {
    padding-top: 20px;
    position: relative;
    padding-bottom: 60px;
}

.address:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./images/location.jpg'); 
    width: 100%;
    height: 100%;
    opacity : 0.3;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Footer */

.footer {
    width: 100%;
    height: 300px;
    background: #323232;
    display: flex;
}

.footer-logo {
    display: flex;
    width: 25%;
}

.footer-middle {
    width: 50%;
}

.footer-right {
    width: 25%;
}

.footer-logo img {
    width: 90%;
    margin: auto;
}

.footer-nav {
    list-style-type: none;
    margin: auto;
}

.footer-nav li {
    float: left;
}

.footer-nav li a {
    display: block;
    color: white;
    padding: 5px 10px;
}


@media only screen and (max-width: 1200px) {
    .slogan {
        display: none
    }
}

@media only screen and (min-width: 992px) {
    .navbar {
        height: 80px;
    }

    .navbar-light .navbar-nav .nav-link {
        border-right: 1px solid gray;
        padding: 0 8px;
    }

    .navbar-light .navbar-nav .nav-link:last-child {
        border-right: none;
    }
}

@media only screen and (max-width: 991px) {
    .about-us {
        flex-direction: column;
    }

    .about-us-left, 
    .about-us-right {
        width: 100%;
    }

    .photos {
        width: 80%;
        padding: 0;
    }

    .about-us-text {
        padding: 20px;
        text-align: justify;
        font-weight: 500;
    }

    .about-us-left::after {
        display: none
    }
}

@media only screen and (max-width: 1250px) and (min-width: 992px) {
    .frankzane {
        display: none;
    }

    .about-us-left img {
        width: 49%;
    }
}

@media only screen and (max-width: 770px) {
    .about-us-left {
        height: auto!important;
    }
}

@media only screen and (min-width: 1420px) {
    .about-us-text {
        padding: 50px;
    }
}


@media only screen and (min-width: 1200px) {
    .container {
        width: 80%;
        max-width: fit-content;
        max-width: 1300px;
    }
  }

@media only screen and (max-width: 1100px) {
    .address-container {
        flex-direction: column;
    }

    .location-text {
        width: 100%;
    }

    .location-text-p {
        display: flex;
    }

    .location-text-p-geo {
        width: 50%;
        padding: 5px;
        padding-right: 15px;
    }
    
    .location-text-p-eng {
        width: 50%;
        padding: 5px;
        padding-left: 15px;
    }

    .mapouter {
        width: 100%;
    }

    .gmap_canvas {
        width: 70%;
        margin: auto;
    }
}

@media only screen and (max-width: 992px) {
    .col {
        width: 50%;
    }

    .logo-div {
        width: 50%;
    }

    #top-button {
        font-size: 3em;
        bottom: -5px;
        right: 0;
    }
}

@media only screen and (max-width: 850px) {
    .main-photo {
    height: 400px;
    }

    .working-schedule .container {
        max-width: 90%;
        margin: auto;
    }

    .gmap_canvas {
        width: 90%;
    }
}

@media only screen and (max-width: 767px) {
    .col {
        width: 80%;
        margin: 10px auto;
    }
}

@media only screen and (max-width: 600px) {
    .main-photo {
    height: 300px;
    }

    .working-schedule {
        height: 700px;
    }

    .logo-div {
        width: 60%;
    }

    .location-text-p {
        flex-direction: column
    }

    .location-text-p-geo {
        width: 100%;
        padding: 5px;
    }

    .location-text-p-eng {
        width: 100%;
        padding: 5px;
    }

    .location-text {
        font-size: 1em;
    }

    #top-button {
        font-size: 2.2em;
    }
}

@media only screen and (max-width: 400px) {
    .main-photo {
    height: 200px;
    }

    .logo-div {
        width: 65%;
    }

    h3 {
        font-size: 1.4rem;
    }

    .cost .card .old-price {
        top: 75px;
    }
}


